* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
section.givehope {
    min-height: 47rem;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(rgba(23, 32, 0, 0.5), rgba(2, 31, 0, 0.5)), url('images/people-2604837_960_720-e1509066378844.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
header {
   width: 100%;
   min-height: 8rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: transparent; 
}
header .logo a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-shadow: 4px 4px 6px #0a0e00;
}
header .logo a:hover{
    text-shadow: 2px 2px 4px #cacbc3;
}
header ul li{
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: 4px 4px 6px #0a0e00;
}
header ul li a::after {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: aliceblue;
    left: 0;
}
.title h1 {
    padding-left: 6rem;
    padding-top: 9rem;
    font-weight: 400;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 3.9rem;
    text-shadow: 5px 6px #076a02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #12140b;
    font-style: oblique;
    transition: 0.5s;
}
h1:hover{
    text-shadow: 2px 2px 4px #cacbc3;
    cursor: pointer;
}
.watch_video_link{
    margin: 3rem 17rem;
    transition: 0.5s;
}
.watch_video_link:hover{
transform: translateX(-0.12rem);
}
a.watch_video {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(89, 178, 0);
    transition: 0.5s;
}
a.watch_video:hover{
    color: rgb(236, 255, 218);
    font-weight: 450;
    font-size: 1.85rem;
}
.about {
    width: 100%;
    min-height: 30rem;
    padding: 5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.view {
    width: 30rem;
    min-height: 22rem;
    background-color: rgb(15, 219, 1);
    padding: 3.5rem 3rem;
}
h2 {
    font-weight: 300;
    font-size: 1.8rem;
}
.view_num {
    font-size: 3.8rem;
}
.view_btn {
    width: 12.5rem;
    min-height: 2rem;
    color: rgb(1, 8, 15);
    background-color: #ffffff;
    padding-left: 1.24rem;
    padding-top: 0.2rem;
    font-size: 1.05rem;
    margin-top: 2.3rem;
    transition: 0.5s;
    box-shadow: 0 .1rem .7rem -.1rem grey;
}
.view_btn:hover {
    background-color: #0a0e00;
    color: #ffffff;
    cursor: pointer;
}
.about_text {
    width: 40rem;
    min-height: 20rem;
}
.about_title {
    font-size: 2.9rem;
    font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
.about_txt {
    margin-top: 0.7rem;
    line-height: 2.5rem;
    font-weight: 300;
    font-size: 1.6rem;
}
span {
    font-size: 1.2rem;
    line-height: .1rem;
}
.learn_btn {
    display: block;
    width: 10rem;
    min-height: 2.3rem;
    background-color: rgb(2, 188, 11);
    padding-left: 1.95rem;
    padding-top: .4rem;
    margin-top: 3rem;
    color: #ffffff;
    box-shadow: 0 .4rem .7rem -.1rem grey;
    transition: 0.5s;
}
.learn_btn:hover {
    background-color: #0a0e00;
    cursor: pointer;
}
